.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem {
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 10px 2px rgba(74, 74, 74, 0.35);
    box-shadow: 0px 3px 10px 2px rgba(74, 74, 74, 0.35);
}
.featuredTitle {
    font-size: 20px;
}
.featuredMoneyContainer {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.featureMoney {
    font-size: 30px;
    font-weight: 600;
}
.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.featuredIcon {
    font-size: 140px;
    margin-left: 5px;
    color: green;
}
.featuredIcon.negative {
    color: red;
}
.featuredSub {
    font-size: 15px;
    color: gray;
}
